@font-face {
    font-family: 'light italic';
    src: url(fonts/source-sans-pro/SourceSansPro-LightItalic.ttf);
}
body{
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;  
}

.title{
    font-weight: bold;
    font-size: 30px;
}
.header{
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    /* background-color: white; */
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    
}
.header-links{
     display: flex;
     gap: 15px;
}
.footer{
  padding: 15px;
  color: white;
  background-color: #1f2937;

  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: auto;
}

.welcomecontent{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;

    color: white;
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
}
.title2{
    
    font-size: 48px;
}



.signup{

  
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.Image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 125, 146);
    margin: 40px;
    margin-left: 60px;
    margin-right: 0;
    min-width:500px;
    min-height: 300px;
}

.signup > button{
    background-color: #3882F6;
    border-width: 0;
    width:90px;
    font-weight: bold;
    border-radius: 8px;
    color:white;
    padding: 10px;
}

.tiles-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
    color: #1F2937;
    min-height: 200px;
    padding-bottom: 40px;
}

.tiles-title{
    font-family:extra-bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
}

.roundedbox{
    width:150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 6px;
    margin-bottom: 10px;
}

.tiles{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap:50px;
}

.tile{
    
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quote-box{
    min-height: 0;
    padding: 40px;
    color: #1F2937;
    background-color: #E5E7EB;

}
.quote{
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'light italic';
}
.quote-author{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.call-to-action-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.call-to-action{
    width: 700px;
    height: 100px;
    background-color: #3882F6;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.sign-button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sign-button > button{
    
    background-color: #3882F6;
    border-color: azure;
    
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    margin-right: 40px;
    padding-left: 18px;
    padding-right: 18px;
    color: azure;
}
.call-to-action > .content{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-left: 40px;


}



